<div class="main d-flex flex-column gap-2">
	<div class="d-flex">
		<div class="flex-fill row">
			<div class="col-lg-12">
				<p class="title-text m-0">Contact</p>
			</div>
		</div>
	</div>
	<div class="d-flex gap-2 align-items-center">
		<i class="fa fa-phone-square"></i>
		<p class="my-0">
			+63 939-917-8418
		</p>
	</div>

	<div class="d-flex gap-2 align-items-center">
		<i class="fa fa-envelope"></i>
		<p class="my-0">
			ronaldbj01&#64;mail.com
		</p>
	</div>

	<div class="d-flex gap-2 align-items-center">
		<i class="fa fa-location-arrow"></i>
		<p class="my-0">
			Philippines
		</p>
	</div>
</div>
