<body class="container-fluid p-0">
  <div class="body-main">
    <div class="main main-resume flex-grow">
      <div class="main main-about flex-grow" *ngIf="$aboutMe|async as aboutMe">
        <div class="d-flex">
          <div class="flex-fill row">
            <div class="col-lg-9">
              <p class="title-text m-0">{{aboutMe?.name}}</p>
              <p class="title-sub-text">{{aboutMe?.title}}</p>
            </div>
          </div>
        </div>
        <div class="profile-summary section-wrapper d-flex">
          <div class="profile-description flex-fill">
            <div class="introduction">
              <p class="text" *ngFor="let t of aboutMe?.introductions">{{t}}</p>
            </div>
          </div>
          <img src="./../../../assets/images/me.jpg" alt="profile-photo" class="profile-photo-body align-self-center">
        </div>
      </div>

      <hr class="section-divider">
      <div class="section-wrapper d-flex">

        <div class="experience-summary flex-fill">
          <p class="title-sub-text-strong">Experiences</p>
          <div class="experiences">
            <div class="timeline-exp" *ngFor="let j of $jobExperience | async">

              <p class="job-title">
                {{j.position}}
              </p>
			  @for(client of j.clients; track client; let index = $index){
				<p class="text">
				 Client {{index+1}}: {{client}}
				</p>
			  }
              <p class="job-year text">
                <i class="fa fa-calendar"></i>
                {{j.tenure}}
              </p>
              <div class="job-information">
                <div class="row" *ngFor="let responsibility of j.responsibilities">
                  <i class="fa fa-star col-lg-1 col-md-1 col-sm-1 col-xs-2 align-self-center"></i>
                  <p class="text col-lg-11 col-md-11 col-sm-11 col-xs-10">
                    {{responsibility}}
                  </p>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
      <hr class="section-divider">
      <div class="section-wrapper">
        <p class="title-sub-text-strong">Techstack </p>
        <p class="text">&#10003; Javascript/Typescript</p>
        <p class="text">&#10003; NodeJs</p>
        <p class="text">&#10003; Angular</p>
        <p class="text">&#10003; Amazon Web Services(AWS)</p>
        <p class="text">&#10003; ASP.Net core API, C#</p>
        <p class="text">&#10003; CSS, SCSS, HTML5, Bootstrap</p>
        <p class="text">&#10003; SQL, MySQL</p>
      </div>

      <hr class="section-divider">
    </div>
  </div>

</body>
