@import "./../../../assets/styles/base";

.page__container {
	background-color: $bg-color-300;

	.page__intro {
		.page__aboutme--resize {
			@include sm {
				flex-direction: column-reverse;
			}
			@include lg {
				flex-direction: row;
			}
		}
		.page__aboutme {
			margin: 20 0 20 0;

			.page__aboutme-photo {
				width: 350px;
				height: 350px;
				padding: 30px;
				object-fit: scale-down;
			}
		}
	}

	.page__experience {
		&.page__experience--border {
			border-left: 2px solid $theme-color-100;
		}
		.page__experience-timeline {
			padding-left: 15px;
			padding-bottom: 20px;
			.page__experience-timeline__job-title,
			.page__experience-timeline__job-information {
				top: -8px;
			}
			.page__experience-timeline__job-information {
				padding-left: 15px;
			}
			.page__experience-timeline__job-title--color {
				font-size: 1.3rem;
				font-weight: bold;
				color: $theme-color-100;
			}
			&::before{
				content: "";
				position: absolute;
				width: 16px;
				height: 30px;
				border-radius: 50px;
				left: -9px;
				top: 0;
				background: $theme-color-100;
				border: 2px solid $theme-color-100;
			}
		}
	}
}
