/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/base";

@include justify-content;
@include container-border(1px);

body {
	background-color: $bg-color-300 !important;
	color: $text-color-100 !important;
	.body__main .body__content {
		@include sm {
			width: 100%;
		}
		@include lg {
			width: 77%;
			float: right;
		}
		padding-top: 30px;
		padding-left: 50px;
		padding-bottom: 50px;
		padding-right: 50px;
		hr.section-divider {
			border-color: $theme-color-100;
		}

		.title-text {
			font-size: 2.5rem;
			font-weight: bold;
			color: $theme-color-100;
		}
		.title-sub-text {
			font-size: 1.5rem;
			color: $theme-color-100;
		}
		.title-sub-text-strong {
			font-size: 1.5rem;
			font-weight: bold;
			color: $theme-color-100;
		}
		.text {
			font-size: 1.2rem;
		}
		p {
			font-family: monospace;
		}
	}
}
