
$bg-color-100:#092d17;
$bg-color-200: #092514;
$bg-color-300: #001809;

$theme-color-100:#56CC9D;

$border-color-100: wheat;

$text-color-100: wheat;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 300px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;
